html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.slick-dots {
  bottom: 1.25rem;
}
.slick-dots li button:before {
  color: white;
  font-size: 0.625rem;
  opacity: 0.75;
}

.slick-dots li.slick-active button:before {
  color: white;
  font-size: 0.875rem;
  opacity: 1;
}
